/*layouts*/
.logo {
    margin: 10px 20px 10px 10px;
    width: 150px;
}

.header_nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header_li {
    margin-right: 30px;
    margin-top: 15px;
}

.header_left {
    margin-left: auto;
    margin-right: 30px;
    margin-top: 15px;
}

.header_right {
    margin-right: auto;
    margin-right: 30px;
    margin-top: 15px;
}

.body {
    min-width: 1200px;
    background-color: #EFF9F4;
    font-family: monospace;
}

.content {
    background-color: #EFF9F4;
    margin: 10px 80px 20px 80px;
    font-family: monospace;
}

.content_short {
    background-color: #EFF9F4;
    width: 950px;
    margin: 10px auto 20px auto;
    font-family: monospace;
}

h1 {
    margin: 0px auto 10px auto;
    padding: 10px 10px 10px 10px;
    color: #010101;
    background: white;
    border-bottom: solid 3px rgb(58, 210, 64);
    font-family: monospace;
    font-size: 30px;
}

.icon_png {
    width: 30px;
    margin: 0px;
}

h2 {
    margin: auto;
    padding: 10px 10px 10px 30px;
    color: #010101;
    background: white;
    border-bottom: solid 3px rgb(58, 210, 64);
    font-family: monospace;
    font-size: 30px;
}
.error {
    color: red;
    margin-left: 30px;
}

.success {
    color: green;
    margin-left: 30px;
}

.Index {
    list-style: none;
    text-align: center;
    width: 800px;
    margin: auto;
}

dt {
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px #010101;
    width: 120px;
    margin: 0px auto 10px auto;
}

dd {
    margin-bottom: 10px;
}




/*login*/
.auth_content {
    width: 500px;
    margin: auto;
}

.auth_h1 {
    color: #010101;
    background: white;
    border-bottom: solid 3px rgb(58, 210, 64);
    font-family: monospace;
    font-size: 30px;
}

.content_center {
    display: flex;
    justify-content: center;
}

.login_label {
    display: inline-block;
    text-align: right;
    width: 350px;
    margin: 10px 0px 5px 0px;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 8px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : black;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
    border        : 2px solid rgb(58, 210, 64);    /* 枠の指定 */
}

.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #3ad240;     /* 文字色     */
}

.button_label {
    display: inline-block;
    text-align: right;
    width: 350px;
    margin: 10px 0px 5px 0px;
}



/*register*/
.register {
    display: flex;
    justify-content: center;
}

.register input {
    margin: 5px;
}

.register_label {
    display: inline-block;
    text-align: right;
    width: 400px;
}

/*items.create*/
.button_create {
    width: 150px;
    margin: 25px 5px 25px 5px;
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 17pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 8px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : black;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
    border        : 2px solid rgb(58, 210, 64);    /* 枠の指定 */
}

.button_create:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffffff;     /* 背景色     */
    background    : #3ad240;     /* 文字色     */
}



/*items.index*/
.items_margin {
    margin: 10px;
}

.search_box {
    display: flex;
    justify-content: center;
}

.create_box {
    margin: 80px 10px 20px 10px;
}

.search {
    padding: 3px;
    margin: 20px 5px 20px 5px;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px rgb(58, 210, 64);/*線*/
    border-radius: 10px;/*角の丸み*/
    max-width: 1000px;
}

.search_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items_label {
    display: inline-block;
    text-align: right;
    width: 325px;
}

.items_info {
    margin: 5px;
    padding: 5px;
    width: 150px;
}

.search p {
    font-weight: 700;
}

.search select {
    padding: 3px;
    margin: 5px;
}

.search_button {
    margin: 25px 5px 10px 5px;
    text-align: center;
}

.no_items {
    font-weight: 700;
    font-size: 20px;
}

.items_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.size_img {
    align-items: center;
}

.size_exp {
    margin:  auto;
}

.size-exp p {
    margin-left: 50px;;
}

#modal_shape {
    display: none;
}

#modal_rim {
    display: none;
}

#modal_size {
    display: none;
}

.modal_icon {
    width: 20px;
}

.modal_title {
    font-weight: bold;
}




/* items.show */
.items_name {
    font-size: 20px;
}

.items_img {
    width: 400px;
    margin: 20px auto 20px auto;
}

.buy_button {
    font-size: 20px;
    margin-top: 15px;
}

.sold {
    margin-top: 10px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}




/* items.create */
.form_margin {
    margin: auto;
}


/*exhibitions*/
.index_flex {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items_border {
    list-style: none;
    border: solid 3px rgb(58, 210, 64);/*線*/
    border-radius: 10px;/*角の丸み*/
    flex-basis: 30%;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}

.sold_sell {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.delete_button {
    margin-top: 15px;
}

.items_exhimg {
    width: 600px;
    margin: 20px auto 20px auto;
}




/* edit */
.edit_label {
    width: 192px;
    padding: 5px;
}

.current_img {
    font-size: 18px;
}

.new_img {
    margin-top: 10px;
    font-size: 18px;
}

.select_newimg {
    margin-top: 10px auto 10px auto;
}

.edit_button {
    display: inline-block;
    text-align: right;
    width: 400px;
    margin: 10px 0px 5px 0px;
}

.edit_img {
    width: 400px;
    margin: 5px auto 20px auto;
}



/*like.index*/
.like_button {
  cursor: pointer;
}

.like {
  display: inline;
}

.like_post {
    background-color: #dccaca;
    border-top: solid 1px #e67c2e;
    border-bottom: solid 1px #e67c2e;
}

.like_post .post_body_heading {
    background-color: #dccaca;
}

.like_post .post_comments {
    background-color: #e4d6c7;
}

.like_post .like_button {
    color: yellow;
}



/*profile*/
.user_img img {
    max-width: 400px;
    margin: 15px 0px 5px 0px;
}

.profile_flex {
    display: flex;
    justify-content: center;
}

.profile_info {
    width: 200px;
    margin: 20px 10px 20px 10px;
    padding: 15px;
}
